html,
body {
  margin: 0;
}
#parent {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background: lightgrey;
  opacity: 1;
}
#header {
  height: 10%;
  width: 100%;
  background: red;
  opacity: 0.9;
}
#upper {
  height: 20%;
  width: 100%;
  background: blue;
  opacity: 0.9;
}
#middle {
  height: 30%;
  width: 100%;
  background: green;
  opacity: 0.9;
}
#bottom {
  height: 50%;
  width: 100%;
  background: pink;
  opacity: 0.9;
}
.cap-text {
  font-family: 'Lucida Grande', sans-serif;
  z-index: 1;
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 50px;
}
.stripe-header {
  top: 0%;
  height: 15%;
  width: 100%;
  position: absolute;
  background: #00479b;
}
.ustripe-top {
  top: -50%;
  left: -5%;
  right: 0%;
  height: 50%;
  background: #6089c3;
  position: relative;
  animation: st 15s steps(300, end) 0s infinite;
  font-family: 'Montserrat', sans-serif;
}
.ustripe-top-bg {
  top: 0;
  height: 50%;
  background: #a2b9da;
}
.ustripe-bot {
  top: 27%;
  left: -5%;
  right: 0%;
  height: 12%;
  background: #2e64a8;
  position: absolute;
  animation: st 15s steps(300, end) 0s infinite;
  font-family: 'Montserrat', sans-serif;
}
.ustripe-bot-bg {
  top: 27%;
  left: 0%;
  width: 100%;
  height: 12%;
  position: absolute;
  background: #83a1d4;
}
.notch-top {
  transform: rotate(135deg);
  top: 25.5%;
  left: -6%;
  width: 5px;
  position: absolute;
  animation: n 15s steps(300, end) 0s infinite;
  background: transparemt;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #a2b9da;
}
.tick-top {
  transform: rotate(135deg);
  top: 24.9%;
  left: -6%;
  width: 5px;
  background: transparemt;
  position: absolute;
  animation: t 15s steps(300, end) 0s infinite;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #6089c3;
}
.notch-bot {
  transform: rotate(225deg);
  top: 26.3%;
  left: -6%;
  width: 5px;
  position: absolute;
  animation: n 15s steps(300, end) 0s infinite;
  background: transparemt;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #83a1d4;
}
.tick-bot {
  transform: rotate(225deg);
  top: 25.9%;
  left: -6%;
  width: 5px;
  background: transparemt;
  position: absolute;
  animation: t 15s steps(300, end) 0s infinite;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #2e64a8;
}
@keyframes st {
  0% {
    left: -5%;
    right: 0%;
    width: 0%;
  }
  40% {
    left: -5%;
    right: 105%;
    width: 105%;
  }
  60% {
    left: 50%;
    right: 105%;
    width: 50%;
  }
  80% {
    left: 50%;
    right: 105%;
    width: 50%;
  }
  100% {
    left: 100%;
    right: 105%;
    width: 0%;
  }
}
@keyframes t {
  0% {
    left: -6%;
  }
  40% {
    left: 99%;
  }
  60% {
    left: 99%;
  }
  80% {
    left: 99%;
  }
  100% {
    left: 99%;
  }
}
@keyframes n {
  0% {
    left: -5.5%;
  }
  40% {
    left: -5.5%;
  }
  60% {
    left: 49.8%;
  }
  80% {
    left: 49.8%;
  }
  100% {
    left: 99.8%;
  }
}
